<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/customer-transactions-styles.css" th:href="@{/customer-transactions-styles.css}" rel="stylesheet">
</head>
<body class="body">


<nav class="navBar">

    <a href="#" class="wallet-heading" th:href="@{/}" th:text="#{home.wallet}">V-Wallet</a>

    <div class="navBar-topRight">
        <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.login}" th:href="@{/auth/login}">Login</a>
        <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.register}" th:href="@{/auth/register}">Register</a>

        <!-- NEED TO FINISH -->
        <a class="navbar-cell" th:unless="${isAuthorized}" href="#" th:text="#{home.nav.my-wallet}" th:href="@{/wallets/user}">My Wallet</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-transactions}" th:href="@{/transactions/{id} (id = ${loggedUser.getId()}) }">My transactions</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-account}" th:href="@{/users/{id} (id = ${loggedUser.getId()}) }">My account</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.logout}" th:href="@{/auth/logout}">Logout</a>

    </div>

</nav>


<div th:if="${allTransactions.isEmpty()}">
    <h2 class="h2-customer-transactions" th:text="#{all.transactions.heading.empty}">No Transactions Found</h2>
</div>
<div th:unless="${allTransactions.isEmpty()}">
    <h2 class="h2-customer-transactions" th:text="#{all.transactions.heading.Not-empty}">Transactions</h2>
</div>


<div th:unless="${allTransactions.isEmpty()}">

    <div class="table">
        <div class="header">
            <div class="cell" th:text="#{transaction.label.id}">ID</div>
            <div class="cell" th:text="#{transaction.label.sender}">Sender</div>
            <div class="cell" th:text="#{transaction.label.recipient}">Recipient</div>
            <div class="cell" th:text="#{transaction.label.date}">Date</div>
            <div class="cell" th:text="#{transaction.label.amount}">Amount</div>
        </div>

        <div class="row" th:each="transaction : ${allTransactions}">

            <div class="cell-info">
                <a  th:text="${transaction.getId()}">1</a>
            </div>

            <div class="cell-info">
                <a  th:href="@{/transactions/{id}/filter(id=${transaction.getSender().getId()})}"th:text="${transaction.getSender().getUsername()}">Sender</a>
            </div>

            <div class="cell-info">
                <a  th:href="@{/transactions/{id}/filter(id=${transaction.getRecipient().getId()})}"th:text="${transaction.getRecipient().getUsername()}">Recipient</a>
            </div>

            <div class="cell-info">
                <a th:text="${transaction.getTransactionDate().toString()}">Date</a>
            </div>

            <div class="cell-info">
                <a th:text="${transaction.getAmount()}">Amount</a>
            </div>

        </div>
    </div>

</div>




</body>
</html>