<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <base href="/">
    <link href="/static/card-add-new.styles.css" th:href="@{card-add-new.styles.css}" rel="stylesheet">
    <link href="/static/neon-styles.css" th:href="@{neon-styles.css}" rel="stylesheet">
</head>
<body class="body">

<h2 class="neon" th:text="#{card.heading.add-card}">Add Card</h2>

<div class="content">
    <img class="card_img" alt="card-img" src="https://www.pinclipart.com/picdir/big/567-5679765_credit-card-vector-png-clipart.png">

    <form class="form" action="#" th:action="@{/cards/add}" th:object="${addCard}" method="post">

        <!-- Card number -->
        <label class="label" th:text="#{card.label.cardNumber}">Card Number</label>
        <br>
        <input class="input" required type="text" th:field="*{cardNumber}" minlength="16" maxlength="16">
        <label class="error" th:errors="*{cardNumber}">Card number error placeholder</label>
        <br>

        <!-- Card holder -->
        <label class="label" th:text="#{card.label.cardHolder}">Card Holder</label>
        <br>
        <input class="input" required type="text" th:field="*{cardHolder}" maxlength="30">
        <label class="error" th:errors="*{cardHolder}">Card holder error placeholder</label>
        <br>

        <!-- Check number -->
        <label class="label" th:text="#{card.label.check-number}">Check Number</label>
        <br>
        <input class="input" required type="text" th:field="*{checkNumber}" minlength="3" maxlength="3">
        <label class="error" th:errors="*{checkNumber}">Check number error placeholder</label>
        <br>

        <!-- Expiration Date -->
        <label class="label" th:text="#{card.label.expiration-date}">Expiration Date</label>
        <br>
        <input class="input" required type="date" th:field="*{expirationDate}">
        <label class="error" th:errors="*{expirationDate}">Expiration date error placeholder</label>
        <br>

        <button class="neo-btn button" type="submit" value="Submit">Submit</button>
    </form>

</div>


</body>
</html>