<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/customer-account-styles.css" th:href="@{/customer-account-styles.css}" rel="stylesheet">
</head>
<body class="body">

<nav class="navBar">

    <a href="#" class="wallet-heading" th:href="@{/}" th:text="#{home.wallet}">V-Wallet</a>

    <div class="navBar-topRight">
        <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.login}" th:href="@{/auth/login}">Login</a>
        <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.register}" th:href="@{/auth/register}">Register</a>

        <!-- NEED TO FINISH -->
        <a class="navbar-cell" th:unless="${isAuthorized}" href="#" th:text="#{home.nav.my-wallet}" th:href="@{/wallets/user}">My Wallet</a>
        <a class="navbar-cell" th:unless="${isAuthorized}" href="#" th:text="#{home.nav.my-transactions}" th:href="@{/transactions/{id} (id = ${loggedUser.getId()}) }">My transactions</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-account}" th:href="@{/users/{id} (id = ${loggedUser.getId()}) }">My account</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.logout}" th:href="@{/auth/logout}">Logout</a>

    </div>
</nav>


<div class="content">
    <form class="user-info-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${user}" >

        <!-- FIXME: ADD USER PICTURE -->

        <img th:src="${user.getPhoto()}" alt="..." width="400"
             class="rounded mb-2 img-thumbnail">
        <br>
        <br>


        <div class="information-div">
            <!-- username -->
            <label class="label" th:text="#{customer-account.label.username}">Username</label>
            <span class="user-info" th:text="*{username}">rolando</span>
            <br>

            <!-- email -->
            <label class="label" th:text="#{customer-account.label.email}">Email</label>
            <span class="user-info" th:text="*{email}">rolando@gmai.com</span>
            <br>

            <!-- phone number -->
            <label class="label" th:text="#{customer-account.label.phone-number}">Phone number</label>
            <span class="user-info" th:text="*{phoneNumber}">089696969</span>
        </div>

    </form>
    <br>

    <button class="update-picture-button"><a class="button" href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}">Update profile</a></button>
    <button class="update-picture-button"><a class="button" href="#" th:href="@{/users/image}">Upload</a></button>

</div>

</body>
</html>