<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/customer-transactions-styles.css" th:href="@{/customer-transactions-styles.css}" rel="stylesheet">
</head>
<body class="body">


<nav class="navBar">

    <a href="#" class="wallet-heading" th:href="@{/}" th:text="#{home.wallet}">V-Wallet</a>

    <div class="navBar-topRight">
        <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.login}" th:href="@{/auth/login}">Login</a>
        <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.register}" th:href="@{/auth/register}">Register</a>

        <!-- NEED TO FINISH -->
        <a class="navbar-cell" th:unless="${isAdmin}" href="#" th:text="#{home.nav.my-wallet}" th:href="@{/wallets/user}">My Wallet</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-transactions}" th:href="@{/transactions/{id} (id = ${loggedUser.getId()}) }">My transactions</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-account}" th:href="@{/users/{id} (id = ${loggedUser.getId()}) }">My account</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.logout}" th:href="@{/auth/logout}">Logout</a>

    </div>

</nav>


<div th:if="${customerTransactions.isEmpty()}">
    <h2 class="h2-customer-transactions" th:text="#{transactions.heading.empty}">No Transactions Found</h2>
</div>
<div th:unless="${customerTransactions.isEmpty()}">
    <h2 class="h2-customer-transactions" th:text="#{transactions.heading.Not-empty}">Transactions</h2>
</div>

<!--<form th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${filterTransactionDto}">-->
<!--    <div class="parcel-fields">-->
<!--        <div class="col-2">-->
<!--            <input type="date" class="form-control" th:field="*{fromDate}" placeholder="fromDate">-->
<!--        </div>-->
<!--        <div class="col-2">-->
<!--            <input type="date" class="form-control"  th:field="*{toDate}" placeholder="toDate">-->
<!--        </div>-->
<!--        <div class="col-2">-->
<!--            <input type="text" class="form-control" th:field="*{sender}" placeholder="sender">-->
<!--        </div>-->
<!--        <div class="col-2">-->
<!--            <input type="text" class="form-control" th:field="*{recipient}" placeholder="recipient">-->
<!--        </div>-->
<!--        <select class="form-select col-2" th:field="*{orderAmount}">-->
<!--            <option selected value="">Sort by amount</option>-->
<!--            <option selected value="asc">ASC</option>-->
<!--            <option selected value="desc">DSC</option>-->
<!--        </select>-->
<!--        <select class="form-select col-2" th:field="*{orderDate}">-->
<!--            <option selected value="">Sort by date</option>-->
<!--            <option selected value="asc">ASC</option>-->
<!--            <option selected value="desc">DSC</option>-->
<!--        </select>-->
<!--        <div class="col-2">-->
<!--            <button type="submit">Filter</button>-->
<!--        </div>-->
<!--    </div>-->
<!--</form>-->

<div class="content" th:unless="${customerTransactions.isEmpty()}">

    <table id="colorfulBoard" >

        <thead>
        <tr>
            <th class="cell" th:text="#{transaction.label.id}">ID</th>
            <th class="cell" th:text="#{transaction.label.sender}">Sender</th>
            <th class="cell" th:text="#{transaction.label.recipient}">Recipient</th>
            <th class="cell" th:text="#{transaction.label.date}">Date</th>
            <th class="cell" th:text="#{transaction.label.amount}">Amount</th>
            <th class="cell" th:text="#{transaction.label.direction}">Direction</th>
        </tr>
        </thead>


        <tbody   th:each="transaction : ${customerTransactions}">

        <tr class="row">
            <td class="cell-info">
                <a th:text="${transaction.getId()}">1</a></td>

            <td class="cell-info">
                <a th:text="${transaction.getSender()}">Sender</a></td>

            <td class="cell-info">
                <a th:text="${transaction.getRecipient()}">Recipient</a></td>

            <td class="cell-info">
                <a th:text="${transaction.getTransactionDate().toString()}">Date</a></td>

            <td class="cell-info">
                <a th:text="${transaction.getBalance()}">Amount</a></td>

            <td class="cell-info">
                <a th:text="${transaction.getDirection()}">Direction</a></td>
        </tr>

        </tbody>
    </table>

</div>

<br>
<div class="button-div">
    <button class="create-transaction-button" th:unless="${isAdmin}">
        <a class="button" href="#"  th:href="@{/transactions/new}">Create Transaction</a></button>
</div>

</body>
</html>