<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update profile</title>
    <link href="../static/login-wallet-styles.css" th:href="@{/login-wallet-styles.css}" rel="stylesheet">
</head>
<body class="body">


<h2 class="black-headingss">Account Update</h2>

<form class="form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${updateUser}" method="post">

    <!-- fixme: add userphoto -->

    <!-- username  -->
    <label class="label" >Username</label>
    <br>
    <input style="background-color: #cf404e;" th:readonly="*{username}" class="readonly" type="text"  th:field="*{username}">
    <br>

    <!-- password -->
    <label class="label" >New password</label>
    <br>
    <input class="input" required type="password" th:field="*{password}" minlength="8">
    <br>
    <!-- password confirm -->
    <label class="label" th:field="*{confirmPassword}">Confirm password</label>
    <br>
    <input class="input" required type="password" th:field="*{confirmPassword}" minlength="8">
    <br>

    <!-- email -->
    <label class="label">New email</label>
    <br>
    <input class="input" required type="email" th:field="*{email}" maxlength="30">
    <br>

    <label class="label" >New phone number</label>
    <br>
    <input class="input" required type="text" th:field="*{phoneNumber}" minlength="10" maxlength="10">
    <br>

    <label class="error" th:errors="*{username}">Username error placeholder</label>
    <label class="error" th:errors="*{password}">Password error placeholder</label>
    <label class="error" th:errors="*{confirmPassword}">Confirm password placeholder</label>
    <label class="error" th:errors="*{email}">Email error placeholder</label>
    <label class="error" th:errors="*{phoneNumber}">Phone number error placeholder</label>

    <br>
    <input class="login-button" type="submit" value="Update"/>
    <br>

    <form th:unless="${isAuthorized}" th:action="@{/cards/{id}/delete (id = ${loggedUser.getId()})}">
        <button class="login-button">Delete Card</button>
    </form>


    <!-- todo: add error Labels -->
</form>



<!--  <div th:if="${isAuthorized}" class="status-div">
        <label class="label" th:text="#{update-customer.label.status}">Status</label>
        <select th:field="*{status}" class="status-selection">
            <option value="#" th:value="*{status.BLOCK}" th:text="BLOCK" >BLOCK</option>
            <option value="#" th:value="*{status.UNBLOCK}" th:text="UNBLOCK" >UNBLOCK</option>
        </select>

      </div>
-->

</body>
</html>