<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/login-wallet-styles.css" th:href="@{/login-wallet-styles.css}" rel="stylesheet">
</head>
<body class="body">
<form class="form-thing" enctype="multipart/form-data" th:action="@{/users/image}" method="post">
  <label for="myfile">Select files:</label>
  <input type="file" id="myfile" name="file" multiple><br><br>
  <input type="submit">
</form>
</body>
</html>