<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deposit</title>
    <link href="/static/wallet-index-styles.css" th:href="@{/wallet-index-styles.css}" rel="stylesheet">
</head>
<body class="body">

<nav class="navBar">

    <a href="#" class="wallet-heading" th:href="@{/}" th:text="#{home.wallet}">V-Wallet</a>

    <div class="navBar-topRight">
        <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.login}" th:href="@{/auth/login}">Login</a>
        <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.register}" th:href="@{/auth/register}">Register</a>

        <!-- NEED TO FINISH -->
        <a class="navbar-cell" th:unless="${isAuthorized}" href="#" th:text="#{home.nav.my-wallet}" th:href="@{/wallets/user}">My Wallet</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-transactions}" th:href="@{/transactions/{id} (id = ${loggedUser.getId()}) }">My transactions</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-account}" th:href="@{/users/{id} (id = ${loggedUser.getId()})}">My account</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.logout}" th:href="@{/auth/logout}">Logout</a>

    </div>
</nav>

<div class="contend-div">

    <h2 class="black-headings" th:text="#{deposit.heading}">DEPOSIT</h2>

    <form class="form" th:fragment="deposit-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${deposit}" method="post">

        <div>
            <label class="label" th:text="#{deposit.label.amount}">Amount</label>
            <br>
            <input class="input" type="text" th:field="*{amount}">
        </div>
        <br>


        <input class="deposit-button" type="submit" value="Deposit"/>
    </form>

</div>


</body>
</html>