<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
  
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <title>Virtual Wallet</title>
	
<!--
Reflux Template
https://templatemo.com/tm-531-reflux
-->
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href="assets/css/templatemo-style.css" />
    <link rel="stylesheet" href="assets/css/owl.css" />
    <link rel="stylesheet" href="assets/css/lightbox.css" />
    <link rel="stylesheet" href="/static/new-index-styles.css" th:href="@{/new-index-styles.css}">
    <link href="../static/wallet-styles.css" th:href="@{../wallet-styles.css}" rel="stylesheet">
  </head>

  <body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
		 
            <div class="author-content">
              <h4>Virtual Wallet</h4>
            </div>

            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li th:unless="${isAuthenticated}"><a href="#section1">Login</a></li>
                <li th:if="${isUser}"><a href="#section1" >My Profile</a></li>
                <li th:if="${isUser}"><a href="#section2">My Transactions</a></li>
                <li th:if="${isUser}"><a href="#section3">My Wallet</a></li>
                <li th:unless="${isAuthenticated}"><a href="#section2">Functionalities</a></li>
                <li th:unless="${isAuthenticated}"><a href="#section3">Register</a></li>
              </ul>
            </nav>

            <div class="social-network">
              <ul class="soial-icons">
                <li>
                  <a href="https://fb.com/templatemo"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-dribbble"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-rss"></i></a>
                </li>
              </ul>
            </div>
            <div class="copyright-text">
              <p>©2021 Virtual Wallet</p>
            </div>
          </div>
        </div>
      </div>

      <section th:unless="${isUser}" class="section about-me" data-section="section1">
        <div class="container">
          <div class="section-heading">
            <h2>Virtual Wallet</h2>
            <div class="line-dec"></div>
            <span
              ></span
            >
          </div>
          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img style="width: 100%;" src="assets/images/mobile-wallet.jpg" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>Virtual Wallet Application</h4>
                  <p>
                   Virtual Wallet is a web application that enables you to continently manage your budget.
                    Every user can send and receive money (user to user) and put money in his Virtual Wallet (bank to app).
                  </p>
                  <div class="white-button">
                    <a href="#" th:href="@{/auth/login}">Login</a>
                  </div>
<!--                  <span class="no-account">don't have an account?<a style="color: #cf404e;" href="#" th:href="@{/auth/register}"> Create One</a></span>-->
                  <div th:if="${isAuthenticated}" class="white-button">
                    <a href="#" th:href="@{/auth/logout}">Logout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section th:if="${isUser}" class="section my-profile" data-section="section1">
        <div class="container">
          <div class="section-heading">
            <h2>Welcome Back</h2>
            <h2 style="color: crimson" th:text="${user.getUsername()}"></h2>
            <div class="line-dec"></div>
            <span
            ></span
            >
          </div>

          <div class="container mt-3">

            <img style="width: 40%;" th:src="${loggedUser.getUserPhoto()}" alt="..." width="400"
                 class="rounded mb-2 img-thumbnail">
            <br>
            <br>

            <table class="table">
              <thead>
              <tr class="header">
                <th>Username:</th>
                <th th:text="${user.getUsername()}"></th>
              </tr>
              </thead>

              <tbody>
              <tr>
                <td>Email:</td>
                <td th:text="${user.getEmail()}"></td>
              </tr>
              <tr>
                <td>Phone number:</td>
                <td th:text="${user.getPhoneNumber()}"></td>
              </tr>
              <tr>
                <td>
                  <div class="white-button">
                    <a href="#" th:href="@{/users/{id}/update (id = ${loggedUser.getId()})}">Update profile</a>
                  </div></td>
                <td> <div class="white-button">
                  <a href="#" th:href="@{/users/image}">Upload</a>
                </div></td>
                <td> <div class="white-button">
                  <a th:href="@{/auth/logout}" href="#">Logout</a>
                </div></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </section>

      <section class="section" data-section="section2">
        <div class="container">

        </div>
        <div data-section="section2" class="right-image-post">
          <div class="row">
            <div class="col-md-6">
              <div class="service-item">
                <a class="redirect" href="#" th:href="@{/transactions/new}">
                <div class="bank-transfer-icon" ></div>
                <i style="color: black;" class="fa fa-exchange"></i>
                <h4>Make transaction</h4>
                <p th:unless="${isUser}">
                  Users can transfer money to other users by entering another user's username and desired amount to be transferred.
                </p>
                <p th:if="${isUser}">
                  Send money to other users in the app
                </p>
              </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="service-item">
                <a th:if="${isUser}" class="redirect" href="#" th:href="@{/transactions/{id} (id = ${loggedUser.getId()} ) }">
                  <div class="transaction-icon" ></div>
                  <i style="color: black;" class="fa fa-google-wallet"></i>
                  <h4>My Transactions</h4>
                  <p>
                    Manage and view you recent transactions
                  </p>
                </a>
                <a th:unless="${isUser}" class="redirect" href="#" th:href="@{/auth/login}">
                  <div class="transaction-icon" ></div>
                  <i style="color: black;" class="fa fa-google-wallet"></i>
                  <h4>Creating a virtual wallet</h4>
                  <p>
                    Each user can register one credit or debit card, which is used to transfer, put money in their Virtual Wallet (bank to app).
                  </p>
                </a>

              </div>
            </div>
          </div>
        </div>
      </section>


      <section th:if="${isUser}" class="section my-wallet" data-section="section3">

        <div class="section-heading">
          <h2>My Virtual Wallet</h2>
          <div class="line-dec"></div>
          <span
          ></span
          >
        </div>

        <!-- WALLET INFORMATION -->

        <div class="wallet-form">

          <!-- Wallet username -->
          <label class="label" th:text="#{wallet.label.username}">Username</label>
          <h2 class="wallet-username" th:text="${displayUserWallet.getUsername()}">Tosho</h2>
          <br>
          <!-- Wallet balance -->
          <label class="label" th:text="#{wallet.label.balance}">Balance</label>
          <h2 class="wallet-balance" th:text="${displayUserWallet.getBalance()}">21.21</h2>
          <br><br>


          <div class="white-button">
            <a href="#" th:href="@{/wallets/deposit}">Deposit</a>
          </div>
        </div>


      </section>

      <section th:unless="${isAuthenticated}" class="section register" data-section="section3">
        <div class="container">
          <div class="section-heading">

            <span
              ></span
            >
          </div>


              <div class="login-box">
  <h2>Register</h2>

  <form class="login-box" action="#" th:action="@{/}" th:object="${registerDto}" method="post">

    <div class="user-box">
      <input required type="text" th:field="*{username}" minlength="3" maxlength="20">
      <label>Username</label>
    </div>

    <div class="user-box">
      <input required type="password" th:field="*{password}" minlength="8">
      <label>Password</label>
    </div>

	<div class="user-box">
      <input required type="password" th:field="*{passwordConfirm}" minlength="8">
      <label>Confirm password</label>
    </div>

	<div class="user-box">
      <input required type="email" th:field="*{email}" maxlength="30">
      <label>Email</label>
    </div>

	<div class="user-box">
      <input required type="text" th:field="*{phoneNumber}" maxlength="10" minlength="10">
      <label>Phone number</label>
    </div>

    <label class="error" th:errors="*{username}">Username error placeholder</label>
    <label class="error" th:errors="*{password}">Password error placeholder</label>
    <label class="error" th:errors="*{passwordConfirm}">Confirm password error placeholder</label>
    <label class="error" th:errors="*{email}">Email error placeholder</label>
    <label class="error" th:errors="*{phoneNumber}">Phone error placeholder</label>

    <button type="submit" >Submit</button>
  </form>

</div>


        </div>
      </section>
    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
  </body>
</html>
