<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/wallet-index-styles.css" th:href="@{wallet-index-styles.css}" rel="stylesheet">
</head>
<body class="body">

<nav class="navBar">

    <a href="#" class="wallet-heading" th:href="@{/}" th:text="#{home.wallet}">V-Wallet</a>

    <div class="navBar-topRight">
        <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.login}" th:href="@{/auth/login}">Login</a>
        <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.register}" th:href="@{/auth/register}">Register</a>

        <!-- NEED TO FINISH -->
        <a class="navbar-cell" th:if="${isUser}" href="#" th:text="#{home.nav.my-wallet}" th:href="@{/wallets/user}">My Wallet</a>
        <a class="navbar-cell" th:if="${isUser}" href="#" th:text="#{home.nav.my-transactions}" th:href="@{/transactions/{id}(id = ${loggedUser.getId()})}">My transactions</a>
        <a class="navbar-cell" th:if="${isAdmin}" href="#" th:text="#{home.nav.all-transactions}" th:href="@{/transactions}">Transactions</a>
        <a class="navbar-cell" th:if="${isAdmin}" href="#" th:text="#{home.nav.all-users}" th:href="@{/users}">Users</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-account}" th:href="@{/users/{id} (id = ${loggedUser.getId()}) }">My account</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.logout}" th:href="@{/auth/logout}">Logout</a>

    </div>

</nav>



</body>
</html>