<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
  <link href="../static/login-wallet-styles.css" th:href="@{/login-wallet-styles.css}" rel="stylesheet">
</head>

<body class="body">

<nav class="navBar">

  <a href="#" class="wallet-heading" th:href="@{/}" th:text="#{home.wallet}">V-Wallet</a>

  <div class="navBar-topRight">
    <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.register}" th:href="@{/auth/register}">Register</a>
  </div>

</nav>

<h3 class="black-headings" th:text="#{login.heading}">Login</h3>

<form class="form" action="#" th:action="@{/auth/login}" th:object="${login}" method="post">

    <!-- USERNAME FIELD -->
    <label class="label" th:text="#{login.label.username}">Username</label>
    <br>
    <input class="input" type="text" th:field="*{username}">

    <br>

    <!-- PASSWORD FIELD -->
    <label class="label"  th:pass="#{login.label.password}">Password</label>
    <br>
    <input class="input" type="password" th:field="*{password}">
    <br>
    <label class="error" th:errors="*{password}">Password errors placeholder</label>
    <label class="error" th:errors="*{username}">Username error placeholder</label>
    <br>
    <!-- SUBMIT BUTTON -->
    <input class="login-button" type="submit" value="Login">
  <p class="not-registered ">Not registered? <a class="create-account" th:href="@{/auth/register}" href="#" th:text="#{login.create-account.link}"></a></p>

</form>

</body>
</html>