<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="../static/register-wallet-styles.css" th:href="@{/register-wallet-styles.css}" rel="stylesheet">
</head>

<body class="body">

<nav class="navBar">

    <a href="#" class="wallet-heading" th:href="@{/}" th:text="#{home.wallet}">V-Wallet</a>

    <div class="navBar-topRight">
        <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.login}" th:href="@{/auth/login}">Login</a>
    </div>

</nav>

<form class="form" action="#" th:action="@{/auth/register}" th:object="${register}" method="post">

    <!-- USERNAME FIELD -->
    <label class="label" th:text="#{register.label.username}">Username</label>
    <br>
    <input class="input" required type="text" th:field="*{username}"  minlength="3" maxlength="20">
    <br>

    <!-- PASSWORD FIELD -->
    <label class="label" th:text="#{register.label.password} ">Password</label>
    <br>
    <input class="input" required type="password" th:field="*{password}" minlength="8">
    <br>

    <!-- PASSWORD CONFIRM FIELD -->
    <label class="label" th:text="#{register.label.confirm-pass}">Confirm password</label>
    <br>
    <input class="input" required type="password" th:field="*{passwordConfirm}" minlength="8">
    <br>

    <!-- PHONE NUMBER FIELD -->
    <label class="label" th:text="#{register.label.phone}" >Phone number</label>
    <br>
    <input class="input" required type="text" th:field="*{phoneNumber}" minlength="10" maxlength="10">
    <br>

    <!-- EMAIL FIELD -->
    <label class="label" th:text="#{register.label.email}">Email</label>
    <br>
    <input class="input" required type="email" th:field="*{email}" maxlength="30">
    <br>
    <label class="error" th:errors="*{username}">Username error placeholder</label>
    <label class="error" th:errors="*{password}">Password error placeholder</label>
    <label class="error" th:errors="*{passwordConfirm}">Confirm password error placeholder</label>
    <label class="error" th:errors="*{email}">Email error placeholder</label>
    <label class="error" th:errors="*{phoneNumber}">Phone error placeholder</label>

    <br><br>

    <input class="register-button" type="submit" value="Register">


</form>

</body>
</html>