<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/transaction-new-styles.css" th:href="@{/transaction-new-styles.css}" rel="stylesheet">
</head>
<body class="body">

<nav class="navBar">

    <a href="#" class="wallet-heading" th:href="@{/}" th:text="#{home.wallet}">V-Wallet</a>

    <div class="navBar-topRight">
        <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.login}" th:href="@{/auth/login}">Login</a>
        <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.register}" th:href="@{/auth/register}">Register</a>

        <!-- NEED TO FINISH -->
        <a class="navbar-cell" th:unless="${isAdmin}" href="#" th:text="#{home.nav.my-wallet}" th:href="@{/wallets/user}">My Wallet</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-transactions}" th:href="@{/transactions/{id} (id = ${loggedUser.getId()}) }">My transactions</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-account}" th:href="@{/users/{id} (id = ${loggedUser.getId()}) }">My account</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.logout}" th:href="@{/auth/logout}">Logout</a>

    </div>
</nav>

<h3 class="heading-create-transaction" th:text="#{create-transaction.heading}">Create Transaction</h3>

<form class="form" action="#" th:action="@{/transactions/new}" th:object="${transaction}" method="post">
    <!-- Recipient field -->
    <label class="label" th:text="#{transaction.label.recipient}">Recipient</label>
    <br>
    <input class="input" type="text" th:field="*{recipient}">
    <br>

    <!-- Amount field -->
    <label class="label" th:text="#{transaction.label.amount}">Amount</label>
    <br>
    <input class="input" type="text" th:field="*{balance}">
    <br>
    <label class="error" th:errors="*{recipient}">Recipient error placeholder</label>
    <label class="error" th:errors="*{balance}">Amount error placeholder</label>
    <br>

    <input class="send-button" type="submit" value="Send">

</form>

</body>
</html>