<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="../static/customer-transactions-styles.css" th:href="@{/customer-transactions-styles.css}" rel="stylesheet">
</head>
<body class="body">


<nav class="navBar">

  <a href="#" class="wallet-heading" th:href="@{/}" th:text="#{home.wallet}">V-Wallet</a>

  <div class="navBar-topRight">
    <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.login}" th:href="@{/auth/login}">Login</a>
    <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.register}" th:href="@{/auth/register}">Register</a>

    <!-- NEED TO FINISH -->
    <a class="navbar-cell" th:unless="${isAuthorized}" href="#" th:text="#{home.nav.my-wallet}" th:href="@{/wallets/user}">My Wallet</a>
    <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-transactions}" th:href="@{/transactions/{id} (id = ${loggedUser.getId()}) }">My transactions</a>
    <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-account}" th:href="@{/users/{id} (id = ${loggedUser.getId()}) }">My account</a>
    <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.logout}" th:href="@{/auth/logout}">Logout</a>

  </div>

</nav>

  <table class="table">

    <thead>
    <tr>
      <th class="cell" th:text="#{user.label.id}">ID</th>
      <th class="cell" th:text="#{user.label.username}">Username</th>
      <th class="cell" th:text="#{user.label.email}">Email</th>
      <th class="cell" th:text="#{user.label.phone}">Phone number</th>
      <th class="cell" th:text="#{user.label.status}">Status</th>
    </tr>
    </thead>


<tbody id="colorfulBoard">
<tr class="row">

  <td class="cell-info">
    <a th:text="${userStatus.getId()}">ID</a></td>

  <td class="cell-info">
    <a th:text="${userStatus.getUsername()}">Username</a></td>

  <td class="cell-info">
    <a th:text="${userStatus.getEmail()}">Email</a></td>

  <td class="cell-info">
    <a th:text="${userStatus.getPhoneNumber()}">Phone number</a></td>

  <td class="cell-info">
    <a th:text="${userStatus.getStatus().toString()}">Status</a></td>

</tr>
</tbody>

  </table>

<form th:action="@{__${#httpServletRequest.requestURI}__}" method="post">
  <div th:if="${isBlocked}" >
    <button class="update-button">Unblock</button>
  </div>
  <div th:unless="${isBlocked}">
    <button class="update-button">Block</button>
  </div>
</form>


</body>
</html>