<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/customer-transactions-styles.css" th:href="@{/customer-transactions-styles.css}" rel="stylesheet">
</head>
<body class="body">


<nav class="navBar">

    <a href="#" class="wallet-heading" th:href="@{/}" th:text="#{home.wallet}">V-Wallet</a>

    <div class="navBar-topRight">
        <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.login}" th:href="@{/auth/login}">Login</a>
        <a class="navbar-cell" th:unless="${isAuthenticated}" href="#" th:text="#{home.nav.register}" th:href="@{/auth/register}">Register</a>

        <!-- NEED TO FINISH -->
        <a class="navbar-cell" th:unless="${isAuthorized}" href="#" th:text="#{home.nav.my-wallet}" th:href="@{/wallets/user}">My Wallet</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-transactions}" th:href="@{/transactions/{id} (id = ${loggedUser.getId()}) }">My transactions</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-account}" th:href="@{/users/{id} (id = ${loggedUser.getId()}) }">My account</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.logout}" th:href="@{/auth/logout}">Logout</a>

    </div>

</nav>


<div th:if="${users.isEmpty()}">
    <h2 class="h2-customer-transactions" th:text="#{users.heading.empty}">No Users Found</h2>
</div>
<div th:unless="${users.isEmpty()}">
    <h2 class="h2-customer-transactions" th:text="#{users.heading.Not-empty}">Users</h2>
</div>

<form th:action="@{/users/search}" method="post" th:object="${keyword}">
    <div class="fields">
        <div class="col-6">
            <input type="text" th:field="*{keyword}" placeholder="keyword">
        </div>
        <div class="col-2">
            <button type="submit">Search</button>
        </div>
    </div>
</form>

<div class="content" th:unless="${users.isEmpty()}">

    <table id="colorfulBoard">

        <thead>
        <tr>
            <th class="cell" th:text="#{user.label.id}">ID</th>
            <th class="cell" th:text="#{user.label.username}">Username</th>
            <th class="cell" th:text="#{user.label.email}">Email</th>
            <th class="cell" th:text="#{user.label.phone}">Phone number</th>
        </tr>
        </thead>

        <tbody th:each="user : ${users}">

        <tr class="row">

            <td class="cell-info">
                <a class="user-id" th:href="@{/users/{id}/status(id=${user.getId()})}" th:text="${user.getId()}">ID</a>
            </td>

            <td class="cell-info">
                <a th:text="${user.getUsername()}">Username</a>
            </td>

            <td class="cell-info">
                <a th:text="${user.getEmail()}">Email</a>
            </td>

            <td class="cell-info">
                <a th:text="${user.getPhoneNumber()}">Phone number</a>
            </td>

        </tr>

        </tbody>
    </table>

</div>




</body>
</html>