<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My wallet</title>
    <link href="../static/wallet-styles.css" th:href="@{../wallet-styles.css}" rel="stylesheet">
</head>
<body class="body">

<nav class="navBar">
    <a href="#" class="wallet-heading" th:href="@{/}" th:text="#{home.wallet}">V-Wallet</a>
    <div class="navBar-topRight">
        <!-- NEED TO FINISH -->
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-transactions}" th:href="@{/transactions/{id} (id = ${loggedUser.getId()}) }">My transactions</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.my-account}" th:href="@{/users/{id} (id = ${loggedUser.getId()})}">My account</a>
        <a class="navbar-cell" th:if="${isAuthenticated}" href="#" th:text="#{home.nav.logout}" th:href="@{/auth/logout}">Logout</a>
    </div>
</nav>

<div>
    <h2 class="my-wallet-heading" th:text="#{home.nav.my-wallet}">MY WALLET</h2>
</div>

<!-- WALLET INFORMATION -->

<div class="wallet-form">

    <!-- Wallet username -->
    <label class="label" th:text="#{wallet.label.username}">Username</label>
    <h2 class="wallet-username" th:text="${displayUserWallet.getUsername()}">Tosho</h2>
    <br>
    <!-- Wallet balance -->
    <label class="label" th:text="#{wallet.label.balance}">Balance</label>
    <h2 class="wallet-balance" th:text="${displayUserWallet.getBalance()}">21.21</h2>
    <br><br>

    <button class="deposit-button"><a class="button" href="#" th:href="@{/wallets/deposit}">Deposit</a></button>
</div>

</body>
</html>