<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div style="text-align: center">
  <h2>Congratulations! Your account has been verified</h2>
  <h6><a th:href="@{/auth/login}">Click here to logIn</a></h6>
</div>

</body>
</html>