<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link href="/static/deposit-successful-styles.css" th:href="@{/deposit-successful-styles.css}" rel="stylesheet">
</head>
<body>

<h1>CARD WAS DELETED SUCCESSFULLY</h1>

<p class="return-to-homepage"><a class="return-to-homepage" th:href="@{/}" href="#" th:text="#{return-to-homepage}">Return to homepage</a></p>


</body>
</html>