<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="/static/deposit-successful-styles.css" th:href="@{/deposit-successful-styles.css}" rel="stylesheet">
</head>
<body class="body">

<p class="return-to-homepage"><a class="return-to-homepage" th:href="@{/}" href="#" th:text="#{return-to-homepage}">Return to homepage</a></p>

</body>
</html>