<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link href="/static/deposit-successful-styles.css" th:href="@{/deposit-successful-styles.css}" rel="stylesheet">
</head>
<body style=" background-color: #2d3e4f;" class="body">

<h1 style="color: #cf404e">ACCOUNT INFORMATION UPDATED SUCCESSFULLY</h1>

<p class="return-to-homepage"><a style="color:darkgray;" class="return-to-homepage" th:href="@{/}" href="#" th:text="#{return-to-homepage}">Return to homepage</a></p>


</body>
</html>