<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="/static/deposit-successful-styles.css" th:href="@{deposit-successful-styles.css}" rel="stylesheet">
</head>
<body>

<h1>UNSUCCESSFUL TRANSACTION</h1>

<p class="user-is-blocked"><a class="user-is-blocked" th:href="@{/}" href="#" th:text="#{return-to-homepage}">Blocked user</a></p>


</body>
</html>