<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Not enough funds</title>
    <link href="/static/not-enough-funds-styles.css" th:href="@{/not-enough-funds.css}" rel="stylesheet">
</head>
<body class="body">

<h1>NOT ENOUGH FUNDS</h1>

<p class="return-to-homepage"><a th:href="@{/}" href="#" th:text="#{return-to-homepage}">Return to homepage</a></p>


</body>
</html>