<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Your account has not been verified</h2>
<br>
<h4>Check your email and click the provided link to verify your account</h4>

<p class="return-to-homepage"><a th:href="@{/}" href="#" th:text="#{return-to-homepage}">Return to homepage</a></p>


</body>
</html>