.form {
    display: inline-block;
}

.body {
    background: #2d3e4f;
}

.card_img {
    width: 350px;
    margin-right: 10px;
}

.content {
    margin: 150px 400px;
    padding-top: 130px;
}

.label {
    font-family: sans-serif;
    font-size: large;
    margin-top: 5px;
}

.input {
    font-size: large;
    border-radius: 5px;
    border-color: black;
    margin-bottom: 4px;
}

.button {
    margin-left: 3px;
    margin-top: 3px;
}