.body {
    margin: 0px;
    background: darkslategray;
}
.navBar {
    font-size: large;
    padding: 30px;
    background-color: #1c3131;
    margin-bottom: 30px;
    border-color: black;
}
.navBar-topRight {
    display: unset;
    float: right;
    text-decoration: none;
}
.navbar-cell {
    text-decoration: none;
    margin: 9px;
    color: whitesmoke;
}

.content {
    text-align: -webkit-center;
}

.label {
    font: message-box;
    font-size: x-large;
    padding-bottom: 3px;
    color: wheat;
}

.user-info {
    padding: 5px;
    font-size: x-large;
    color: wheat;
}

.wallet-heading {
    text-decoration: none;
}


.update-picture-button {
    background-color: SEAGREEN;
    font-size: large;
    COLOR: whitesmoke;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    text-decoration: none;
    color: white;
}
