.body {
    margin: 0px;
    margin-top: 100px;
    background: #2d3e4f
}
.wallet-heading {
    text-decoration: none;
    color: #cf404e;
}

.readonly {
    border: 0px;
    background-color: #cf404e;
    font-size: smaller;
}

.black-headings {
    font-family: monospace;
    font-size: 60px;
    margin: 25px;
    text-align: center;
    color: #cf404e;
}

.login-button {
    background-color: #2d3e4f;
    font-size: large;
    COLOR: whitesmoke;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.input {
    padding-left: 25px;
    font-size: initial;
    padding-top: 7PX;
    padding-right: 25px;
    border-radius: 8px;
}

.label {
    color: #2d3e4f;
    font-size: xxx-large;
    font: message-box;
    font-weight: bolder;
    font-size: x-large;
}

.error {
    color: #2f3d4a;
    font-size: large;
/*color: saddlebrown */
}

.form {
    alignment-baseline: middle;
    display: block;
    text-align-last: center;
    font-size: xx-large;
    /* padding-left: 250px; */
    /* padding-right: 250px; */
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 80px;
    margin-left: 475px;
    margin-right: 475px;
    background: #cf404e;
    border-radius: 10px;
}

.not-registered {
    font-size: initial;
}
.create-account {
    text-decoration: none;
    color: #2d3e4f;
}

.form-thing {
    text-align-last: center;
    font-size: x-large;
    margin: 300px
}