@import url('https://fonts.googleapis.com/css?family=Quicksand');
body{
    margin:0;
    padding:0;
    background:url('https://raw.githubusercontent.com/claudz1/CodepenImages/master/plank.jpg') ;
    background-size:cover;
    font-family: 'Quicksand', sans-serif;
}
.neon{
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%,-70%);
    margin: 0;
    font-size: 6em;
    color: #fff;
    text-shadow: 0 0 20px #ff005b;
}


.neon:after{
    content:attr(data-text);
    position:absolute;
    top:0;
    left:0;
    padding: 0 20px;
    z-index:-1;
    color:#ff005b;
    filter:blur(15px);
}
.neon:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#fe3a80;
    z-index:-2;
    opacity:.5;
    filter:blur(40px);

}
.neo-btn{
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: transparent;
    padding: 10px 10px;
    border-radius: 3px;
    font-size: 14px;
    color: #035173;
    border: 1px solid #035173;
    transition: all 0.2s;
    outline: none;
    font-weight: bold;

    /* NEO BUTTON (DIFFERENT CODEPEN) */
}
.neo-btn:hover{
    color: #1476A1;
    border-color: #1476A1;
    box-shadow: 0px 0px 4px 0px rgba(2, 166, 237,0.75);
}
