.body {
    margin: 0px;
    background: #2d3e4f;
}
.navBar {
    font-size: large;
    padding: 30px;
    background-color: #1c3131;
    margin-bottom: 30px;
    border-color: black;
}
.navBar-topRight {
    display: unset;
    float: right;
    text-decoration: none;
}
.navbar-cell {
    text-decoration: none;
    margin: 9px;
    color: whitesmoke;
}

.heading-create-transaction {
    font-family: monospace;
    font-size: 60px;
    margin: 25px;
    text-align: center;
    color: #cf404e;
}

.send-button {
    background-color: #2d3e4f;
    font-size: large;
    COLOR: whitesmoke;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.input {
    border-radius: 5px;
    font-size: initial;
}
.label {
    color: #2d3e4f;
    font-size: xxx-large;
    font: message-box;
    font-weight: bolder;
    font-size: x-large;
}

.error {
    color: #2f3d4a;
    font-size: large;
    /*color: saddlebrown */
}

.form {
    alignment-baseline: middle;
    display: block;
    text-align-last: center;
    font-size: xx-large;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 80px;
    margin-left: 475px;
    margin-right: 475px;
    background: #cf404e;
    border-radius: 10px;
}
