.body {
    margin: 0px;
    background: darkslategray;
}
.navBar {
    font-size: large;
    padding: 30px;
    background-color: #1c3131;
    margin-bottom: 30px;
    border-color: black;
}
.navBar-topRight {
    display: unset;
    float: right;
    text-decoration: none;
}
.navbar-cell {
    text-decoration: none;
    margin: 9px;
    color: whitesmoke;
}

.wallet-heading {
    text-decoration: none;
    color: whitesmoke;
}

.my-wallet-heading {
    text-align-last: center;
    font-size: xxx-large;
}

.label {
    font-size: xx-large;
}

.wallet-balance {
    margin: 10px;
    color: greenyellow;
}

.wallet-username {
    margin: 10px;
    color: greenyellow;
}

.deposit-button {
    background-color: SEAGREEN;
    font-size: large;
    COLOR: whitesmoke;
    border-radius: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

.button {
    text-decoration: none;
    color: white;
}

.wallet-form {
    text-align-last: center;
}