.body {
    margin: 0px;
    background: darkslategray;
}
.navBar {
    font-size: large;
    padding: 40px;
    background-color: #1c3131;
    margin-bottom: 30px;
    border-color: black;
}
.navBar-topRight {
    display: unset;
    float: right;
    text-decoration: none;
}
.navbar-cell {
    text-decoration: none;
    margin: 9px;
    color: whitesmoke;
}

.contend-div {
    text-align-last: center;

}

.wallet-heading {
    text-decoration: none;
    color: whitesmoke;
}

.contend-div {
    font-size: x-large;
}

.input {
    margin-top: 15px;
    padding-top: 5px;
}
